/* header/intro/rules */
body {
  background-image: url(../images/Sprinkles2.jpeg);
  background-size: 100%;
  background-repeat: repeat;
}
.main {
  border: 2px solid black;
  text-align: center;
}

.timer {
  border: 2px solid black;
  max-width: 400px;
  padding: 20px;
  margin-left: 35%;
  background-color: paleturquoise;
}

.row {
  border: 2px dotted black;
  padding: 20px;
  /* margin: 10px; */
  background-color: aquamarine;
}
.score {
  border: 2px solid black;
  max-width: 200px;
  padding: 20px;
  margin-left: 40%;
  background-color: paleturquoise;
}
/* timer box */

/* container with rows and columns */

/* buttons */

/* score box*/

/* reset button */
